agm-map {
	widows: 100vh;
  height: 100vh;
}

.search-bar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	background-color: transparent; 
}

.cep-wrapper {
	border-radius: 50px;
}

.address-box {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	border-radius: 8px;
}

.loading-icon {
	position: fixed;
  left: 50%;
  top: 50%;
  z-index: 3;
}

.show-searchbar-button {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}